/* Fontes personalizadas */
@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/static/Figtree-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Figtree", Arial, Helvetica, sans-serif;
  background-color: var(--yellow);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: var(--white);
  border-radius: 20px;
  border: solid 1px var(--gray-950);
  box-shadow: 8px 8px 0 0 var(--gray-950);
  max-width: 350px;
  width: 90%;
  padding: 20px 20px;
}

.card__image {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  display: block;
  margin-bottom: 24px;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card__badge {
  background-color: var(--yellow);
  width: fit-content;
  font-weight: 800;
  padding: 8px 4px;
  border-radius: 4px;
  font-size: 12px;
}

.card__publish-date {
  font-size: 12px;
  color: var(--gray-950);
}

.card__title {
  font-size: 20px;
  font-weight: 800;
  color: var(--gray-950);
}

.card__description {
  font-size: 14px;
  color: var(--gray-500);
  line-height: 1.5;
}

.card__author-section {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}

.card__author-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.card__author-name {
  font-size: 14px;
  font-weight: 800;
  color: var(--gray-950);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
